*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        radial-gradient(circle at 20% 20%, #063b55 0%, transparent 35%),
        radial-gradient(circle at 80% 80%, #123d1c 0%, transparent 30%),
        #020711;
    font-family: Arial, sans-serif;
}
.flip-container{
    width: 390px;
    height: 500px;
    perspective: 1200px;
}
.flip-card{
    width: 100%;
    height: 100%;
     position: relative;
      transform-style:preserve-3d ;
      transition: transform 0.8 ease;
}
.flip-card.flipped{
    transform: rotateY(180deg);
}
.card-face{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 45px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(4, 18,35, 0.95);
        border-radius: 1px solid #00aaff;
        box-shadow:  0 0 20px rgba(0,170,255,0.25), 
        inset  0 0 30px rgba(0,255,150,0.04);
        backface-visibility: hidden;

    }
    .front{
        transform: rotateY(0deg);
    }
    .back{
        transform: rotateY(180deg);
    }
 h1{
        text-align: center;
        margin-bottom: 30px;
        color: #39ff14;
        font-size: 32px;
        letter-spacing: 2px;
        text-shadow: #00aaff;
    }
     input{
        width: 100%;
        padding: 12px 12px ;
        margin: 8px auto;
        border-radius: 10px;
        border: 1px solid #008cff;
        color: white ;
        background: #06172d;
        font-size: 15px ;
        outline: none;

     }
     button{
        width: 100%;
        color: blue;
        border-radius: 10px;
        padding: 12px 8px;
        font-size: 15px;
        cursor: pointer;
     }
     button :hover{
        transform: scale(1.03);
        box-shadow: 0 0 20px rgba(57,255,20,0.5);
     }
     .links{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 22px;

     }
     .links a{
        text-decoration: none;
        font-size: 14px;
        color: #00d9ff;
     }
     .links a :hover{
        color: #39ff14;
     }
     /* MOBILE */

@media (max-width: 500px) {

    .flip-container {
        width: 90%;
        height: 520px;
    }

    .card-face {
        padding: 35px 25px;
    }

    h1 {
        font-size: 28px;
    }
}